<form (ngSubmit)="onSignInSubmit()" #f="ngForm" >
  <div class="row">
    <div class="col">
      <input id="email"
             type="email"
             required
             name='email'
             [(ngModel)]="signInUser.email">
      <label for="email">Email</label>
    </div>
    <div class="col">
      <input id="password"
             type="password"
             required
             name='password'
             [(ngModel)]="signInUser.password">
      <label for="password">Password</label>
    </div>
    <div class='col'>
      <button type="submit"
              [disabled]="!(f.valid)"
              [ngClass]="{'disabled': !(f.valid)}"
              class="btn btn-primary btn-sm">
        Login
      </button>
    </div>
  </div>
</form>
